*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: url('https://images.unsplash.com/photo-1562169254-5d5a1c7609c2?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width: 500px;
    height: 400px;
    text-align: center;
    padding: 20px;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.container h1{
    text-transform: capitalize;
    font-size: 50px;
    font-family:sans-serif;
    font-weight: 300;
    color: white;
}

.container .timer-container{
    height: 220px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.timer-container .timer{
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgba(56, 56, 56, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.3px);
    -webkit-backdrop-filter: blur(12.3px);
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: white;
}

.timer h2{
    font-size: 40px;
}

.timer p{
    text-transform: uppercase;
    font-size: 14px;
}


.input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.input label{
    color: white;
}

.input input {
    padding: 5px;
}

.input button{
    padding: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: rgba(56, 56, 56, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.3px);
    -webkit-backdrop-filter: blur(12.3px);
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: white;
}